@model ElevatorSystem.Admin.Models.Entity.Order

@{
    ViewBag.Title = "Details";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Order Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                <li class="breadcrumb-item">Orders</li>
                <li class="breadcrumb-item active">Delete order</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="form-group col-sm-12 d-flex">
                                <h5 class="card-title m-5">Order <code style="font-size: 30px">#@Html.DisplayFor(model => model.ID). @Html.DisplayFor(model => model.SKU)</code> </h5>
                              
                            </div>
                            @if (@ViewData["InvalidStatus"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <i class="bi bi-exclamation-octagon me-1"></i>
                                    <strong>Warning !</strong> @ViewData["InvalidStatus"] - The Status is <strong>@ViewData["elevatorStatus"]</strong>
                                    <button style="text-align:right" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            <!-- Floating Labels Form -->

                            <div class="form-group col-sm-12 d-flex">
                                <div class="col-md-4 ">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.FullName)" disabled>
                                        <label for="floatingSelect">Customer's' Name</label>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.OrderEmail)" disabled>
                                        <label for="floatingSelect">Order Email</label>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.SKU)" disabled>
                                        <label for="floatingSelect">Stock Keeping Unit ( SKU )</label>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group col-sm-12 d-flex" style="margin-top:30px">

                                <div class="col-md-4 ">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.PhoneNumber)" disabled>
                                        <label for="floatingSelect">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating">

                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "floatingTextarea", @disabled = "true", @placeholder = "User's address", @style = "height: 100px;" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @for = "floatingTextarea" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating">

                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "floatingTextarea", @disabled = "true", @placeholder = "Order's Description", @style = "height: 100px;" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @for = "floatingTextarea" })
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Tax</span>
                                        <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Tax)" disabled>
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Total($)</span>
                                        <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Total)" disabled>
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                <div class="col-md-6">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" value="@ViewData["orderStatus"]" disabled>
                                        <label for="floatingSelect">Order Status</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">

                                        <input type="text" class="form-control" value="@ViewData["shipStatus"]" disabled>
                                        <label for="floatingSelect">Shipping Status</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.OrderDate)" disabled>
                                        <label for="floatingSelect">Order Date</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.CreatedAt)" disabled>
                                        <label for="floatingSelect">Created Date</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.ModifiedAt)" disabled>
                                        <label for="floatingSelect">Modified Date</label>
                                    </div>
                                </div>

                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-secondary m-1" onclick="location.href='@Url.Action("Edit", "Orders",new { id = Model.ID })'"><i class="bi bi-pen">Edit</i></button>
                                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Orders")'"><i class="bi arrow-left-circle">Back to list</i></button>
                            </div>

                        </form>
                        <!-- End floating Labels Form -->

                    </div>
                </div>
            </div>
        </div>
    </section>


</main><!-- End #main -->
