@model ElevatorSystem.Admin.Models.Entity.Order

@{
    ViewBag.Title = "Edit";
}


<main id="main" class="main">
    @using (Html.BeginForm("Edit", "Orders", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="pagetitle">
            <h1>Order Management</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                    <li class="breadcrumb-item">Orders</li>
                    <li class="breadcrumb-item active">Update order</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group col-sm-12 d-flex">
                                <h5 class="card-title m-5">Order <code style="font-size: 30px">#@Html.DisplayFor(model => model.ID). @Html.DisplayFor(model => model.SKU)</code> </h5>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>

                            <!-- Floating Labels Form -->
                            <form class="row g-3">
                                <div class="form-group col-sm-12 d-flex">
                                    <div class="col-md-4 ">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                           @* <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.FullName)">*@
                                            <label for="floatingSelect">Customer's' Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.OrderEmail, new { htmlAttributes = new { @class = "form-control" } })
                                          @*  <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.OrderEmail)">*@
                                            <label for="floatingSelect">Order Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control" } })
                                           @* <input type="text" class="form-control" value=" @Html.DisplayFor(model => model.SKU)">*@
                                            <label for="floatingSelect">Stock Keeping Unit ( SKU )</label>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-group col-sm-12 d-flex" style="margin-top:30px">

                                    <div class="col-md-4 ">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @*<input type="text" class="form-control" value=" @Html.DisplayFor(model => model.PhoneNumber)">*@
                                            <label for="floatingSelect">Phone Number</label>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating">

                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "floatingTextarea", @placeholder = "User's address", @style = "height: 100px;" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @for = "floatingTextarea" })
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating">

                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "floatingTextarea", @placeholder = "Order's Description", @style = "height: 100px;" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @for = "floatingTextarea" })
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Tax</span>
                                            @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control" } })
                                           @* <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Tax)" disabled>*@
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Total($)</span>
                                            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })
                                           @* <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Total)" disabled>*@
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-sm-10">
                                            @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @for = "floatingName" })
                                            @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                    </div>

                                </div>

                                <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                    <div class="col-md-6">
                                        <div class="form-floating">

                                            @Html.DropDownListFor(model => model.OrderStatus,

                    new List<SelectListItem>
                    {
                                                      new SelectListItem {Value = "0", Text="Pending"},
                                                       new SelectListItem {Value = "1", Text="Processing"},
                                                       new SelectListItem {Value = "2", Text="Completed"},
                                                       new SelectListItem { Value = "3", Text = "Canceled" },
                                                       new SelectListItem { Value = "4", Text = "Refund" },
                                                       new SelectListItem { Value = "5", Text = "Complaint" },

                    },

              htmlAttributes: new { @class = "form-select", @id = "floatingSelect" })
                                            @Html.ValidationMessageFor(model => model.OrderStatus, "", new { @class = "text-danger" })
                                            <label for="floatingSelect">Order Status</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">

                                            @Html.DropDownListFor(model => model.ShipStatus,

                    new List<SelectListItem>
                    {
                                                      new SelectListItem {Value = "0", Text="Packaging"},
                                                       new SelectListItem {Value = "1", Text="Delivering"},
                                                       new SelectListItem {Value = "2", Text="Received"},

},

              htmlAttributes: new { @class = "form-select", @id = "floatingSelect" })
                                            @Html.ValidationMessageFor(model => model.ShipStatus, "", new { @class = "text-danger" })
                                            <label for="floatingSelect">Shipping Status</label>
                                        </div>
                                    </div>
                                </div>

                                <div class=" text-center">
                                    <button title="Confirm Submit" type="submit" value="Save" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Orders")'">Back to list</button>
                                </div>

                            </form>
                            <!-- End floating Labels Form -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    </main><!-- End #main -->