@model IEnumerable<ElevatorSystem.Admin.Models.Entity.Order>
@*@Html.Partial("_HeadPartialOrder")*@

@{
    ViewBag.Title = "Index";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Order Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                <li class="breadcrumb-item">Orders</li>
                <li class="breadcrumb-item active">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List Orders</h5>
                        <p>
                            E-commerce order management is the process of tracking an order from the initial <code>purchase transaction</code>,
                            through the entire fulfillment process, to the point a customer <code>receives their goods</code>.
                        </p>

                        @* <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <h4 class="alert-heading">Some Explanation about Order Status</h4>
                                <p>@TempData["orderStatus0"]</p>
                                <hr>
                                <p class="mb-0">@TempData["orderStatus1"]</p>
                                <hr>
                                <p class="mb-0">@TempData["orderStatus2"]</p>
                                <hr>
                                <p class="mb-0">@TempData["orderStatus3"]</p>
                                <hr>
                                <p class="mb-0">@TempData["orderStatus4"]</p>
                                <hr>
                                <p class="mb-0">@TempData["orderStatus5"]</p>
                                <hr>
                                <p class="mb-0">@TempData["n"]</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <div class="alert alert-warning  alert-dismissible fade show" role="alert">
                                <h4 class="alert-heading">Some Explanation about Shipping Status</h4>
                                <p>@TempData["shippingStatus0"]</p>
                                <hr>
                                <p class="mb-0">@TempData["shippingStatus1"]</p>
                                <hr>
                                <p class="mb-0">@TempData["shippingStatus2"]</p>
                                <hr>
                                <p class="mb-0">@TempData["n"]</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>*@

                        @if (@TempData["UpdateMessage"] != null)
                        {

                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <i class="bi bi-info-circle me-1"></i>
                                <strong>Success !</strong>  @TempData["UpdateMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }


                        @*  <button type="button" style="margin-left:800px" class="btn btn-success rounded-pill mt-2 mb-2" onclick="location.href='@Url.Action("Create", "Orders")'"><i class="bi bi-plus-lg"> Add new</i></button>*@
                        <button type="button" style="margin-left:10px" class="btn btn-secondary rounded-pill mt-2 mb-2" onclick="location.href='@Url.Action("OrderReport", "Orders")'"><i class='bx bxs-file-export'> Export data</i></button>
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-striped">
                            <thead>
                                <tr>

                                    <th scope="col">#</th>

                                    <th scope="col">SKU</th>

                                    <th scope="col">Total($)</th>


                                    <th scope="col">Order Date</th>

                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row"> @Html.DisplayFor(modelItem => item.ID)</th>

                                        <td> @Html.DisplayFor(modelItem => item.SKU)</td>

                                        <td> @Html.DisplayFor(modelItem => item.Total)</td>

                                        <td> @Html.DisplayFor(modelItem => item.CreatedAt)</td>


                                        <td class="col-5">

                                            <button type="button" class="btn btn-secondary m-1" title="Edit" onclick="location.href='@Url.Action("Edit", "Orders",new { id = item.ID })'"><i class='bx bx-edit-alt'>Edit</i></button>
                                            <button type="button" class="btn btn-info m-1" title="Detail" onclick="location.href='@Url.Action("Details", "Orders",new { id = item.ID })'"><i class='bx bx-info-circle'>Detail</i></button>
                                            <button type="button" class="btn btn-warning m-1" title="Order list " onclick="location.href='@Url.Action("GetListItems", "Orders",new { id = item.ID })'"><i class='bx bx-list-ol'>List Items</i></button>
                                            <button type="button" class="btn btn-success m-1" title="Create Project " onclick="location.href='@Url.Action("CreateProject", "Orders",new { id = item.ID })'"><i class='bx bxl-product-hunt'>New Project</i></button>
                                        </td>
                                    </tr>

                                }
                            </tbody>

                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
