
@{
    ViewBag.Title = "IndexAccount";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>User Management</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">List Users</h5>


                        @if (@TempData["UpdateMessage"] != null)
                        {

                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                <i class="bi bi-info-circle me-1"></i>
                                <strong>Success !</strong>  @TempData["UpdateMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        @if (@TempData["DeleteMessage"] != null)
                        {

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <i class="bi bi-trash me-1"></i>
                                <strong>Success !</strong>  @TempData["DeleteMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }


                        <button type="button" style="margin-left:10px" class="btn btn-secondary rounded-pill mt-2 mb-2" onclick="location.href='@Url.Action("UserReport", "Home")'"><i class='bx bxs-file-export'> Export data</i></button>
                        <!-- Table with stripped rows -->
                        <table class="table datatable table-striped">
                            <thead>
                                <tr>

                                    <th scope="col">#</th>
                                    <th scope="col">UserName</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email </th>
                                    <th scope="col">Image </th>

                                   
                                </tr>
                            </thead>

                            <tbody id="listAccount">
                                @* <tr>
                                        <th scope="row"> @Html.DisplayFor(modelItem => item.ID)</th>
                                        <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                        <td> @Html.DisplayFor(modelItem => item.StartDate)</td>

                                        <td> <img src="@Html.DisplayFor(modelItem => item.Images)" alt="Project #@Html.DisplayFor(modelItem => item.ID)" width="100" height="120"></td>
                                        <td> @Html.DisplayFor(modelItem => item.Partner)</td>

                                        <td class="col-3">

                                            <button type="button" class="btn btn-secondary m-1" title="Edit" onclick="location.href='@Url.Action("Edit", "Projects",new { id = item.ID })'"><i class="bi bi-pen"></i></button>
                                            <button type="button" class="btn btn-info m-1" title="Detail" onclick="location.href='@Url.Action("Details", "Projects",new { id = item.ID })'"><i class="bi bi-info-circle-fill"></i></button>
                                            <button type="button" class="btn btn-danger m-1" title="Delete" onclick="location.href='@Url.Action("Delete", "Projects",new { id = item.ID })'"><i class="bi bi-trash"></i></button>

                                        </td>
                                    </tr>*@

                            </tbody>

                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
          $.ajax({
            url: '@Url.Action("ReturnListAcc", "Home")',
            type: 'GET',
            contentType: 'application/json',
            //dataType: 'jsonp', jsonp is for sending to a site other than the current one

              success: function (result) {
                  $('#listAccount').html("")
                  var htmlString = ""
                  for (var i = 0; i < result.length; i++) {
                     
                      htmlString += "<tr>"
                      htmlString += `<th scope="row">${i+1}</th>`
                      htmlString += `<td class="fw - bold"> ${result[i].UserName}</td>`
                      htmlString += `<td>${result[i].PhoneNumber}</td>`
                      htmlString += `<td >${result[i].Email}</td>`
                      htmlString += `<td ><img src="${result[i].AddressLine2}" alt="User #${i+1}" width="100" height="120"></td>`
                    
                      htmlString += "</tr>"

                  }
                 
                  $('#listAccount').html(htmlString)
            }
        });
        });
    </script>
    <script src="~/Scripts/Home/RecentSales.js"></script>
}

