@model ElevatorSystem.Admin.Models.Entity.Category

@{
    ViewBag.Title = "Edit";
}


<main id="main" class="main">

    @using (Html.BeginForm(new { @class = "row g-3" }))
    {
@Html.AntiForgeryToken()
                <div class="pagetitle">
                    <h1>Category Management</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                            <li class="breadcrumb-item">Categories</li>
                            <li class="breadcrumb-item active">Update</li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                                <section class="section">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Update Category <code  style="font-size: 30px">@Html.DisplayFor(model => model.Name)</code> </h5>
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <!-- Floating Labels Form -->
                                                    <form class="row g-3">
                                                        <div class="col-md-10 m-3">
                                                            <div class="form-floating">
                                                                @*<input type="text" class="form-control" id="floatingName" placeholder="Tag title">
                                                                    <label for="floatingName">Tag title</label>*@
                                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "floatingName", @placeholder = "Category name" } })
                                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @for = "floatingName" })
                                                            </div>
                                                        </div>

                                                        <div class="col-10 m-3">
                                                            <div class="form-floating">
                                                                
                                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "floatingTextarea", @placeholder = "Category description", @style = "height: 100px;" } })
                                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @for = "floatingTextarea" })
                                                            </div>
                                                        </div>

                                                 
                                                        <div class="text-center">
                                                            <button type="submit" value="Save" class="btn btn-primary">Save</button>
                                                            <button type="reset" class="btn btn-secondary">Reset</button>
                                                            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Categories")'">Back to list</button>
                                                        </div>
                                                    </form><!-- End floating Labels Form -->

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </section>}
</main><!-- End #main -->