@model ElevatorSystem.Admin.Models.Entity.Elevator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .elevator {
        position: absolute;
        display: none;
        z-index: 100;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 80vh;
        top: 0;
        right: 0;
    }

        .elevator .showImages {
            width: 400px;
            height: 320px;
            border: 1px solid black;
            background: white;
            overflow: auto;
        }

        .elevator .position-image {
            width: 400px;
            height: 250px;
            position: relative;
        }

        .elevator .btn-showFile {
            position: absolute;
            background: white;
            padding: 5px;
            border: 1px solid black;
            bottom: 10px;
            right: 10px;
            z-index: 200;
        }

        .elevator .container-image {
            position: relative;
            margin: 10% 27%;
        }

        .elevator .image-item {
            position: relative;
            margin: 5px;
        }

        .elevator .showImages {
            display: flex;
            align-items: center;
            width: 400px;
            height: 250px;
        }

        .elevator .btn-delete {
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            background: black;
            text-align: center;
            color: white;
            line-height: 20px;
            font-size: 20px;
            top: -5px;
            right: -5px;
        }

        .elevator .btn-closeformFile {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 7px;
            cursor: pointer;
            background: white;
            border: 1px solid black;
            color: black;
        }

        .elevator .btn-create {
            border: none;
            padding: 5px;
        }

    .elevator1 li {
        list-style: none;
        background: #ccc;
        border-radius: 2px;
        font-size: 13px;
        margin: 2px;
        cursor: pointer;
        padding: 2px;
    }

    .container-tag * {
        margin: 0;
        padding: 0;
    }

    .elevator1 container-tag li span {
        cursor: pointer;
        width: 10px;
        height: 10px;
        background: white;
        border-radius: 50%;
    }

    .elevator1 .container-tag input {
        width: 100px;
        border: none;
    }

        .elevator1 .container-tag input:focus {
            outline: none;
        }
</style>

<main id="main" class="main">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="pagetitle">
            <h1>Elevator management</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a onclick="location.href='@Url.Action("Index", "Home")'">Home</a></li>
                    <li class="breadcrumb-item">Elevators</li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create new Elevator</h5>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!-- Floating Labels Form -->
                            <form class="row g-3">

                                <div class="form-group col-sm-12 d-flex">
                                    <div class="col-md-4 ">
                                        <div class="form-floating">
                                            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-select", @id = "floatingSelect" })
                                            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                            <label for="floatingSelect">Category</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4 ">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "floatingName", @placeholder = "Elevator name" } })

                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @for = "floatingName" })
                                        </div>
                                        <span class="text-danger errName" style="display: none;"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control", @id = "floatingSlug", @placeholder = "Slug" } })

                                            @Html.LabelFor(model => model.Slug, htmlAttributes: new { @for = "floatingName" })
                                        </div>
                                        <span class="text-danger errSlug" style="display: none;"></span>
                                    </div>
                                </div>


                                <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            @Html.DropDownListFor(model => model.Status,
                                                   new List<SelectListItem>
                                                   {
                                                       new SelectListItem {Value = "0", Text="Pending"},
                                                       new SelectListItem {Value = "1", Text="Available"},
                                                       new SelectListItem {Value = "2", Text="Upgrading"},
                                                       new SelectListItem { Value = "3", Text = "Out of date" },
                                                   },
                                             htmlAttributes: new { @class = "form-select", @id = "floatingStatus" })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            <label for="floatingSelect">Status</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="input-group mb-3">
                                            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control", @id = "floatingCapacity", @placeholder = "Enter Capacity", @style = "height: 58px;" } })
                                            <span class="input-group-text">lbs</span>
                                        </div>
                                        <span class="text-danger errCapacity" style="display:none;"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.MaxPerson, new { htmlAttributes = new { @class = "form-control", @id = "floatingMaxPerson", @placeholder = "Maximum people", @style = "height: 58px;" } })

                                            @Html.LabelFor(model => model.MaxPerson, htmlAttributes: new { @for = "floatingName" })
                                        </div>
                                        <span class="text-danger errMaxPerson" style="display: none;"></span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Speed per time</span>
                                            @*<input type="text" class="form-control" placeholder="Enter Speed" aria-label="Amount (to the nearest dollar)">*@
                                            @Html.EditorFor(model => model.Speed, new { htmlAttributes = new { @class = "form-control", @id = "floatingSpeed", @placeholder = "Enter Speed", @style = "height: 58px;" } })
                                            <span class="input-group-text">(m/s)</span>
                                        </div>
                                        <span class="text-danger errSpeed"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            @*<input type="text" class="form-control" placeholder="Enter Price" aria-label="Amount (to the nearest dollar)">*@
                                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @id = "floatingPrice", @placeholder = "Enter Price", @style = "height: 58px;" } })
                                            <span class="input-group-text">.00</span>

                                        </div>
                                        <span class="text-danger errPrice" style="display: none;"></span>
                                    </div>

                                    <div class="col-md-4 ">
                                        <div class="form-floating container-tag">
                                            @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control Tag ", @id = "floatingTag", @placeholder = "Enter to add more tag", @style = "height: 58px;" } })

                                            @Html.LabelFor(model => model.Tag, htmlAttributes: new { @for = "floatingName" })
                                            <div class="elevator1">
                                                <ul class="d-flex showTag">
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group col-sm-12 d-flex" style="margin-top:30px">
                                    <div class="col-8">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @id = "floatingLocation", @placeholder = "Elevator Location", @style = "height: 58px;" } })

                                            @Html.LabelFor(model => model.Location, htmlAttributes: new { @for = "floatingTextarea" })
                                        </div>

                                        <span class="text-danger errLocaltion" style="display:none;"></span>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-floating input-group">
                                            @Html.EditorFor(model => model.Thumbnails, new { htmlAttributes = new { @class = "form-control", @id = "floatingThumbnails", @placeholder = "Thumbnails", @style = "height: 58px;" } })
                                            @Html.LabelFor(model => model.Thumbnails, htmlAttributes: new { @for = "floatingTextarea" })
                                            <span class="input-group-text btn-showFormFile">
                                                <i class="bi bi-file-code"></i>
                                            </span>

                                            @*<input class="form-control" type="file" name="ThumbnailFile" />*@
                                        </div>
                                        <span class="text-danger  errThumbnails" style="display:none;"></span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <div class="col-8">
                                        <div class="form-floating input-group">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "floatingDescription", @placeholder = "Elevator Location", @style = "height: 58px;" } })

                                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @for = "floatingTextarea" })
                                        </div>
                                        <span class="text-danger errDescription" style="display:none;"></span>
                                    </div>


                                </div>


                                <div class="form-group text-center">
                                    <button title="Confirm Submit" type="button" value="Create" onclick="submitDataElevator()" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Elevators")'">Back to list</button>
                                </div>

                            </form><!-- End floating Labels Form -->
                            <div class="elevator">

                                <div>
                                    <div class="container-image">
                                        <input type="file" id="fileElevator" onchange="addFile()" style="display:none;" />
                                        <div class="position-image">
                                            <div class="showImages">

                                            </div>
                                            <span class="btn-showFile"><i class="bi bi-file-code"></i></span>
                                            <span class="btn-closeformFile">x</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

</main><!-- End #main -->


@section Scripts {
    <script src="~/Scripts/Views/create-elevator.js">
    </script>
}