
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    @Styles.Render("~/Content/assets/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css")
    @Styles.Render("~/Content/assets/vendor/remixicon/remixicon.css")
    @Styles.Render("~/Content/assets/vendor/boxicons/css/boxicons.min.css")
    @Styles.Render("~/Content/assets/vendor/quill/quill.snow.css")
    @Styles.Render("~/Content/assets/vendor/quill/quill.bubble.css")
    @Styles.Render("~/Content/assets/vendor/simple-datatables/style.css")

    <!-- Template Main CSS File -->
    @Styles.Render("~/Content/assets/css/style.css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.1.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<body>
    @Html.Partial("_HeadPartial")

    @Html.Partial("_SidebarPartial")

    @RenderBody()
    @Html.Partial("_FooterPartial")
    <!-- Vendor JS Files -->
    @Scripts.Render("~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.js")
    @Scripts.Render("~/Content/assets/vendor/php-email-form/validate.js")
    @Scripts.Render("~/Content/assets/vendor/quill/quill.min.js")
    @Scripts.Render("~/Content/assets/vendor/tinymce/tinymce.min.js")
    @Scripts.Render("~/Content/assets/vendor/simple-datatables/simple-datatables.js")
    @Scripts.Render("~/Content/assets/vendor/chart.js/chart.min.js")
    @Scripts.Render("~/Content/assets/vendor/apexcharts/apexcharts.min.js")
    @Scripts.Render("~/Content/assets/vendor/echarts/echarts.min.js")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Template Main JS File -->
    @Scripts.Render("~/Content/assets/js/main.js")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).on('keyup change paste click input', '#verify', function () {
            var confirm = $(this).val();
            var patternInput = $(this).attr("pattern");
            if (confirm === patternInput) {
                $("#submitDelete").removeAttr("disabled");
                $("#submitDelete").css({ 'background-color': 'red', 'color': 'white' })
            } else {
                $("#submitDelete").attr("disabled", true);
                $("#submitDelete").removeAttr("style")
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
          $.ajax({
            url: '@Url.Action("OrderNotification", "Home")',
            type: 'GET',
            contentType: 'application/json',
            //dataType: 'jsonp', jsonp is for sending to a site other than the current one

              success: function (result) {
                  $('#orderNotify').html("")
                  var htmlString = ""
                  for (var i = 0; i < result.length; i++) {
                      htmlString += "<li>"
                      htmlString += ` <hr class="dropdown-divider">`
                      htmlString += `</li>`
                      htmlString += `<li class="notification-item">`
                      htmlString += `<i class="bi bi-info-circle text-primary"></i>`
                      htmlString += `<div>`
                      htmlString += ` <h4> Order #${result[i].Id}. ${result[i].SKU} is <strong>placed</strong> !</h4>`
                      htmlString += `<p>by ${result[i].FullName}</p>`
                      htmlString += `<p>by ${result[i].TimeAgo} days ago</p>`

                      htmlString += "</div>"

                      htmlString += "</li>"

                  }
                  console.log(result)
                  $('#orderNotify').html(htmlString)
            }
        });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
          $.ajax({
            url: '@Url.Action("OrderCount", "Home")',
            type: 'GET',
            contentType: 'application/json',
            //dataType: 'jsonp', jsonp is for sending to a site other than the current one

              success: function (result) {
                  $('#orderSpan').html("")
                  var htmlString = ""

                          htmlString += `<i class='bx bx-bell'></i>`
                          htmlString += `<span class="badge bg-primary badge-number"> ${result} </span>`

                  $('#orderSpan').html(htmlString)
            }
        });
        });
    </script>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Scripts1", required: false)
</body>
</html>