  <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index","Home")">
                <i class='bx bxs-dashboard'></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading" style="margin-top:30px;">Management</li>

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Tags")">
                <i class='bx bx-purchase-tag'></i>
                <span>Tags</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Blogs")">
                <i class='bx bxl-blogger'></i>
                <span>Blog</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Categories")">
                <i class=" bx bx-category-alt"></i>
                <span>Category</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Elevators")">
                <i class='bx bx-arch'></i>
                <span>Elevator</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Orders")">
                <i class='bx bx-cart'></i>
                <span>Order</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Index", "Projects")">
                <i class='bx bxl-digitalocean'></i>

                <span>Project</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("IndexAccount", "Home")">
                <i class='bx bx-user'></i>

                <span>Account</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading" style="margin-top:30px;">Personal Profile</li>

        <li class="nav-item">
            <a class="nav-link " href="@Url.Action("Profile", "Manage")">
                <i class='bx bxs-user-account'></i>
                <span>Profile</span>
            </a>
        </li><!-- End Dashboard Nav -->
    </ul>

</aside><!-- End Sidebar-->
